.footer {
  background: #1e90ff;
  color: #ccc;
  padding: 60px 20px 30px;
  font-family: "Poppins", sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-brand h2 {
  color: #fff;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.desc p{
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 20px;
  color:white;
}

.social-icons a {
  color: #ccc;
  margin-right: 15px;
  font-size: 1.2rem;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #0c0c0c;
}

.footer-links h3,
.footer-newsletter h3 {
  color: #fff;
  margin-bottom: 15px;
  font-size: 1.1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #fff;
}

.footer-newsletter p {
  font-size: 0.9rem;
  margin-bottom: 10px;
  color: white;
}

.footer-newsletter form {
  display: flex;
  flex-direction: column;
}

.footer-newsletter input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  outline: none;
}

.footer-newsletter button {
  padding: 10px;
  background: #050505;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.footer-newsletter button:hover {
  background: #0077e6;
}

.footer-bottom {
  border-top: 1px solid #333;
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-bottom span {
  color: #fff;
  font-weight: 600;
}

@media (max-width: 600px) {
  .footer {
    text-align: center;
  }
  .social-icons {
    justify-content: center;
  }
}
