/* src/component/LoadingSpinner.css */
.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Mengambil tinggi viewport penuh */
  width: 100vw; /* Mengambil lebar viewport penuh */
  background-color: #f0f2f5;
  color: #333;
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #007bff; /* Warna untuk efek putaran */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Animasi putar */
  margin-bottom: 20px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
